@font-face{
	font-family: 'simplon';
    src: url('fonts/simplon-mono-regular.eot?') format('embedded-opentype'),
         url('fonts/simplon-mono-regular.woff') format('woff'),
         url('fonts/simplon-mono-regular.ttf') format('truetype'),
         url('fonts/simplon-mono-regular.svg') format('svg');
}

body{
	background-color: black;
	color: white;
}

.heading{
	font-family: termina, sans-serif;
	width: 100%;
	min-height: 5.5vh;
	padding: 2vh 1%;
	position: fixed;
	background: black;
	top: 0;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1pt white solid;
	display: inline-block;
	z-index: 5;
}

.title{
	font-size: 2.7em;
	width: 48%;
	display: inline-block;
}

.about{
	text-align: right;
	font-weight: 400;
	font-size: 1em;
	width: 48%;
	display: inline-block;
}

.heading a{
	color: white;
	transition: .2s;
}

.heading a:hover{
	color: #ffe32d;
}

a{
	text-decoration: none;
	color: #ffe32d;
}

.body{
	width: 60vw;
	margin: 20vh 20vw 0 20vw;
}

p{
	font-family: simplon, interstate-mono, monospace;
	font-weight: 300;
	color: #c7c8ca;
	font-size: 1.5em;
	line-height: 120%;
	letter-spacing: .5px
}

.bigtext{
	font-size: 4em;
}

#array{
	color: white;
	font-weight: 400;
	cursor: pointer;
}

#array:hover{
	color: #ffe32d;
}

.termina{
	font-family: termina, sans-serif;
	color: white;
	font-weight: 700;
	font-size: 2em;
	line-height: 120%;
}

.image-block{
	display: inline-block;
	width: 48%;
	padding: .5% 1% 0 0;
	transition: .2s;
	opacity: .7;
}

.image-block:hover{
	opacity: 1;
}

img{
	width: 100%;
	margin-bottom: 1vh;
}

.two-column{
	width: 47% !important;
	margin: 0 2% 2% 0 !important;
	display: inline-block;
}

iframe{
	z-index: 0;
}

/*RESPONSIVE*/
@media screen and (max-width: 1100px){
	.body{
		width: 80vw;
		margin: 20vh 10vw 0 10vw;
	}
}

/*MOBILE*/
@media screen and (max-width: 750px){
	.body{
		width: 88vw;
		margin: 20vh 5vw 0 5vw;
	}

	.heading{
		min-height: 4.5vh;
		padding: 2vh 1vw;
		width: 100vw;
	}

	.title{
		font-size: 2.5em;
		width: 98vw;
		line-height: 100%;
		text-align: center;
	}

	.about{
		width: 98vw;
		line-height: 80%;
		font-size: 1em;
		text-align: center;
	}

	.about a{
		width: 50%;
	}

	.bigtext{
		font-size: 2.5em;
	}

	.image-block{
		width: 100%;
	}

	p{
		font-size: 1em;
	}

	.termina{
		line-height: 110%;
	}

	.break{
		display: none;
	}

}

@media screen and (max-width: 600px){
	.title{
		font-size: 2em;
	}
}

@media screen and (max-height: 500px){
	.body{
		margin-top: 40vh;
	}
}
