@font-face{
	font-family: 'simplon';
    src: url('fonts/simplon-mono-regular.eot?') format('embedded-opentype'),
         url('fonts/simplon-mono-regular.woff') format('woff'),
         url('fonts/simplon-mono-regular.ttf') format('truetype'),
         url('fonts/simplon-mono-regular.svg') format('svg');
}

@font-face{
	font-family: 'simplon-bold';
    src: url('fonts/simplon-mono-bold.otf') format('opentype');
}

body{
	background-color: black;
}

/*LAYOUT*/
#container{
	display: flex;
	height: 98vh;
	width: 98vw;
	margin: 0;
	padding: 0;
}

#left{
	overflow: auto;
	flex: 33%;  -ms-overflow-style: none;
  	scrollbar-width: none;
  	height: 100%;
}

#left::-webkit-scrollbar {
  display: none;
}


#projects, #project-images{
	flex: 67%;
	padding: .5% 3% 0% 3%;
	border-left: white solid 1px;
	height: 100%;
	overflow: auto;
}

#heading{
	height: 60%;
}

#proj-left{
	height: auto;
}

#heading, #proj-left{
	padding: 5%;
	overflow: scroll;
}

#heading::-webkit-scrollbar, #projects::-webkit-scrollbar, #project-images::-webkit-scrollbar, #proj-left::-webkit-scrollbar {
  display: none;
}

#heading, #projects, #project-images, #proj-left{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#contact-text, #about-text{
	height: 0;
	overflow-y: hidden;
	transition: .5s;
}

#image-hold{
	width: 100%;
	align-content: flex-end;
	height: 35%;
	background-image: url("x.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: 100% 100%;
}

.grid{
	display: grid;
	grid-template-columns: 70% 20% 10%;
	margin: 2% 0;
}

.grid-item{
	cursor: pointer;
	transition: .2s;
}

hr{
	margin: 0;
}

.two-column img{
	padding: 0 auto !important;
}

#project-images img, iframe, .two-column, video{
	width: 90%;
	padding: 2% 5%;
}

.two-column{
	display: grid;
	grid-template-columns: auto auto;
}

.mobile{
	display: none;
}


/*TEXT*/
h1, h2{
	color: #c7c8ca;
	text-transform: uppercase;
	margin: 3% 0;
}

h1{
	font-family: simplon-bold, monospace;
	font-size: 3em;
	letter-spacing: 2px;
}

h2{
	font-family: simplon, monospace;
	font-size: 2em;
	letter-spacing: 1px;
}

p{
	font-family: nimbus-sans-extended, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	color: #c7c8ca;
	line-height: 130%;
	margin: 0 0 5px 0;
}

.contact-link a, h1 a, h2, h2 a{
	color: #c7c8ca;
	transition: .2s;
}

.contact-link a:hover, h1 a:hover, h2:hover{
	color: #ffe32d;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: #ffe32d;
}

.proj-title{
	line-height: 120%;
}

.proj-title:hover{
	color: #c7c8ca;
	cursor: auto;
}

.center{
	text-align: center;
}


/*RESPONSIVE MEDIA*/

/*iPad/large screen*/
@media screen and (max-width: 1100px){
	#container{
		display: block;
		width: auto;
		height: auto;
	}

	#heading, #proj-left{
		height: auto;
		padding: 2% 5%;
	}

	#image-hold{
		display: none;
	}

	#projects, #project-images{
		border: none;
		padding: 0 5%;
		margin: 3% 0 7% 0;
	}

	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}

	.mobile, h2{
		font-size: 1.2em;
		line-height: 100%;
	}

	h1, h2{
		margin: 1% 0;
	}

	h1{
		font-size: 2em;
	}

	p{
		font-size: 1em;
	}
}

/*mobile*/
@media screen and (max-width: 750px){
	#left{
		padding: 2%;
	}

	#projects{
		padding: ;
	}

	.grid{
		grid-template-columns: 55% 25% 20%;
	}

	.grid-item{
		padding: 5px;
	}

	p{
		hyphens: auto;
	}
}












