@import url('https://fonts.googleapis.com/css?family=Poppins|Open+Sans');

*{
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: white;
	font-family: sans-serif; 
	color: black;
}

#body{
	z-index: 3;
}

svg{
	position: fixed;
	opacity: 1;
	z-index: -1;

}

#svg{
	top: 91vh;
	left: 48.4vw;
	transition: .2s;
}

#svg2{
	left: 48vw;
	transition: .2s;
}

#scroll{
	transition: .2s;
	position: fixed;
	top: 95vh;
	left: 47vw;
	font-size: 1em;
}

#background{
	height: 100vh;
	width: auto;
	padding-left: 5vw;
}

#mobile-background{
	display:none;
}

.hidden{
	opacity: 0;
}

.gone{
	display:none;
}

.block{
	height: 100vh;
	width: 100vw;
	display: block;
}

#filler{
	height: 40vh;
}

#footer{
	height: 8vh;
	padding-top: 4vh;
}

.title{
	display: inline-block;
	text-transform: uppercase;
	font-size: 7em;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
}

nav{
	text-align: left;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
}

.subheading{
	position: fixed;
	margin: 0;
	background-color: white;
	z-index: 5;
}

#content{
	position: absolute;
	width: 100vw;
	margin-top: 25vh;
}

#content div{
	width: 50vw;
}

#pieces{
	position: fixed;
}

.subtitle{
	font-size: 1.5em;
	margin: .5vh 0;
	cursor: pointer;
	transition: .2s;
}

.images{
	position: absolute;
	margin-left: 40vw;
}

.images img, p{
	width: 90%;
}

.body{
	text-align: left;
	padding-top: 10vh;
	padding-right: 20vw;
	font-size: 1.2em;
}

.text{
	text-align: left;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	width: 75%;
}

.self{
	width: 75%;
}

.footer{
	font-size: 2em;
	width: 49%;
	height: 50%;
}

a{
	text-decoration: none;
	color: black;
	transition: .2s;
}

a:hover, .subtitle:hover{
	color: #ffaa00;
}

.filler2{
	display: none;
}

.link{
	color: #ffaa00 !important;
}

/*responsive*/

@media screen and (max-width: 800px){
	#background path{
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
	}
	#scroll{
		display: none;
	}
	#filler{
		height: 20vh;
	}
	.filler2{
		display: block;
	}
	.body{
		padding: 0;
		font-size: 1em;
	}
	.text, .self{
		width: 100%;
		font-size: 1em;
	}
	#content, .subheading, #pieces, #images{
		position: static;
	}
	#content{
		margin-top: 5vh;
	}
	#content div{
		width: 99%;
	}
	.images{
		position: static;
		margin: 1vw;
	}
	.images img, p{
		width: 90%;
	}
	.subtitle{
		font-size: 1.2em;
	}
	#background{
		display:none;
	}
	#mobile-background{
		display: inline-block;
	}

}